<div style="height:100px;"></div>
<div class="container">

  
  <div class="row">
    {{#user}}
    <div class="col-md-4">

      <div class="text-center card">
        <img src="{{company_logo.url}}" class="merchant-logo">
        <h4>{{company_name}}</h4>
        <hr>
        <p>{{description}}</p>
      </div>

      <hr>

      <div class="card">
        <h4 style="display: inline;">About</h4> · <a href="#edit">Edit</a>
        <hr>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{email}}</p> 

        <p><span class="glyphicon glyphicon-map-marker"></span> {{street_number}} {{street_name}} {{city}} {{province}} {{postal_code}}</p>

        <p><span class="glyphicon glyphicon-earphone"></span> {{phone}}</p>

        <p><a href="https://facebook.com/{{facebook_id}}">https://facebook.com/{{facebook_id}}</a></p>
        
        <p class="text-right"><u><a href="#logout">Logout</a></u></p>
      </div>

      <hr>

      <div class="card" style="margin-bottom:20px;">
        <span style="padding-right:10px;">123 People Nearby</span> 
        <a class="btn btn-info" href="#newDeal">+ Add A New Deal</a>
      </div>
    </div>
    {{/user}}

    <div class="col-md-8">

      {{#deals}}
      <div class="row card">
        <div class="col-md-6">
          <img src="{{mainImage.url}}" style="width:100%;"/>
        </div>
        <div class="col-md-6">
          <p><strong>{{heading}}</strong></p>

          <p>Created <span class="time">{{createdAt}}</span></p>

          <p class="valid-time">{{expiry.iso}}</p>

          <div class="viwedBy" data-created-at="{{createdAt}}">
            287
          </div>
          <p class="text-right">
            <button class="delete btn btn-danger" data-object-id={{objectId}}>Delete</button>
          </p>

        </div>
       
      </div>
      <div style="height:10px;"></div>
      {{/deals}}

    </div>
  </div>

</div>