<div class="container">

  {{#user}}
  <div class="row">
    <div class="col-md-6">
      <img src="{{company_logo.url}}" style="width:100px;">
    </div>
    <div class="col-md-6 text-right">
      <p><strong>Email:</strong> {{email}}</p> 
      <p><strong>Profile:</strong> {{description}}</p>
      <p><strong>Address:</strong> {{street_number}} {{street_name}} {{city}} {{province}} {{postal_code}}</p>
      <p><u><a href="#logout">Logout</a></u></p>
    </div>
  </div>
  {{/user}}

  <hr>

  <div class="row">
    <div class="col-md-3">
      <p>123 People Nearby</p>
      <a class="btn btn-info" href="#newDeal">+ Add A New Deal</a>
    </div>
  </div>

  <hr>

  {{#deals}}
    <div class="row">
      <div class="col-md-4">
        <img src="{{mainImage.url}}"/>
      </div>
      <div class="col-md-5">
        <h1>Deal Details</h1>
        <h2>{{heading}}</h2>
        <p>Created <span class="time">{{createdAt}}</span></p>

        <div class="viwedBy" data-created-at="{{createdAt}}">
          287
        </div>

        <!-- <p>Address : <span class="address">{{address}}</span></p> -->
      </div>
    </div>
    <div style="height:5vh;"></div>
  {{/deals}}
</div>